* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Times New Roman', Times, serif; 
    background-color: #9f86c0;
    color: #000000;
}

header {
    text-align:center;
}

.navbar {
    background-color: #be95c4;
    padding: 15px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li{
    display: inline-block;
    position: relative;
}
/*Color of links on Navbar*/
.nav-links li a{
    color:#231942;
    text-decoration: none;
    padding: 10px 15px;
}
/*Underline Effect*/
.nav-links li a::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0; height: 2px;
    background: whitesmoke;
    transition: width 0.4s ease, left 0.4s ease;
}
/*Hover Effect*/
.nav-links li a:hover::after{
    width: 100%;
    left: 0;
}
.interests {
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}
.about-me {
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}
#personal {
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
#contact {
    font-size: 150;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 992px) {
    body {
        background: purple;
    }  
     h1 {
        color: rgb(225, 66, 151);
        font-size: 2em;
        background-color: black ;
    }
}

@media screen and (max-width: 768px) {
    body {
        background: violet;
    } 
}

@media  screen and (max-width: 600px) {
    body {
        background: plum;
    } 
    h1 {
        color: deeppink;
        font-size: 2em;
        background-color: black ;
    }
}

@media  screen and (max-width: 400px) {
    body {
        background: rgb(97, 73, 97);
    } 
    h1 {
        color: rgb(231, 6, 126);
        font-size: 2em;
        background-color: black ;
    }
}
